/* Reset padrão e definições gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

/* Variáveis CSS */
:root {
    --blue: #83B2FF;
    --grey: #3D3A3B;
    --white: #FFFFFF;
    --lightgrey: #D9D9D9;
    --blackblue: #4E6B99;
}

/* Estilo do corpo */
body {
    background: linear-gradient(180deg, rgba(131, 178, 255, 1) 35%, rgba(78, 107, 153, 1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo principal */
main {
    width: 26.5rem;
    background-color: var(--grey);
    padding: 1rem;
    border-radius: 10px;
}

/* Cabeçalho */
.headerSense1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.sense1 { /* Imagem do logo */
    width: 6.25rem;
}

h1 {
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--white);
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    padding-bottom: 1rem;
}

input {
    border: none;
    outline: none;
    font-size: 1.25rem;
    padding: 0 0.5rem;
    font-weight: 300;
}

.username, .password {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    padding: 0.5rem;
}

#username, #password { /* Inputs de username e password */
    width: 100%;
}

p, a { /* Parágrafos e links */
    margin: 0.25rem 1rem;
    color: var(--lightgrey);
}

#personal, #lock { /* Ícones dos campos de entrada */
    width: 2.19rem;
}

p:nth-child(3) {
    margin: -0.5rem 1rem;
}

a { /* Link de sign up */
    color: var(--blue);
    margin: 0;
}

/* Botão de login */
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    margin: 1rem;
    border-radius: 20px;
    width: 11.62rem;
    height: 3.75rem;
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

/* Rodapé */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
}

.logos {
    display: flex;
    justify-content: space-around;
}
